* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Roboto', sans-serif;
    color: #34495e;
}

p {
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    font-family: 'Roboto', sans-serif;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/* Other fonts and stuff */

.splash-head {
    font-family: 'Oswald', sans-serif;
}

.objects {
    font-family: 'Roboto Slab', serif;
}

.address {
    font-size: 120%;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 2.125em;
}

.l-box-ribbon {
    padding: 1em 2em 1em 1em;
}

.l-box-img {
    padding: 2em 0 1em;
}

.l-box-lrg {
    padding: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.l-box-link {
    padding: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.50);
}
.home-menu {
    background: #333;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: #CFB53B;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: #FFF;
}

.home-menu a {
    color: #CCCCCC;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #CFB53B;
}

/*
 * -- SPLASH STYLES --
 * This is the top section that appears on the page.
 */

.splash-container {
    background: #666;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    margin-top: 51px;
    width: 100%;
    height: 349px;
    top: 0;
    left: 0;
    position: fixed !important;
}

.error-404 {
    background: linear-gradient(to top, rgba(51,51,51,1), rgba(101,101,101,1), rgba(51,51,51,1)); /*Standard*/
    background-position: center;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
    height: 100%;
}

/* change the image of the splash depending on what page it is */

/* Index */
.bg-1 {
    background-image: url(../../img/house/house_03_web.jpg);
}

/* Fraternity */
.bg-2 {
    background-image: url(../../img/fraternity/fraternity_01_web.jpg);
}

/* Brothers */
.bg-3 {
    background-image: url(../../img/brothers/brothers_05_web.jpg);
}

/* Events */
.bg-4 {
    background-image: url(../../img/events/events_02_web.jpg);
}

/* Contact */
.bg-5 {
    background-image: url(../../img/house/house_01_web.jpg);
}

/* Smoker */
.bg-6 {
    background-image: url(../../img/smoker/skull_01_web.jpg);
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading */
.splash-head {
    font-size: 26px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    background: rgba(0, 0, 0, 0.20);
}

/* This is the subheading (Not used, but kept just in case...) */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 400px;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1.25em 0 0em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0 1em;
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}

.content-subhead i {
    margin-right: 7px;
}

/* This is the class used for the colored background areas. */
.ribbon {
    background: #2d3e50;
    color: #CCC;
}

.ribbon-gold {
    background: #CFB53B;
    color: #333;
}

/* This is the class used for the links at home. */

/* change the size of the image when hover */
.link-home {
    background-position: center;
    transition: background-size 0.5s ease;
    background-size: 100%;
    color: #aaa;
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.link-home:hover {
    background-size: 110%;
}

/* yellow overlay over the image */
.link-overlay {
    transition: background-color 0.5s ease;
    background-color: rgba(207, 181, 59, 0.9);
    color: #aaa;
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.link-overlay:hover {
    background-color: rgba(207, 181, 59, 0.3);
}

/* make the whole image clickable */
.link-href {
    display: block;
    text-decoration: none;
}

/* header text for the overlay links */
.link-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em;
    color: white;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

/* Brothers avatar */
.avatar {
    width: 128px;
    height: 128px;
    background-size: cover;
    border-radius: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.l-box p { 
    margin-top: 0.25em;
    margin-bottom: 0em;
}

/* Events calendar style */
.events {
    width: 100%;
    height: 400px;
}

/* Fraternity core values */
.core-list {
    padding: 0.5em;
    text-align: center;
    background: #CFB53B; /* if browser doesn't support */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(157,101,9,1), rgba(255,0,0,0)); /*Standard*/
}

.core-list .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 100%;
    font-style: italic;
}

.footer-link {
    color: #CFB53B;
    text-decoration: none;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
    .splash-container {
        margin-top: 58px;
        height: 422px;
    }
    
    .content-wrapper {
        top: 480px;
    }

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 80%;
        height: 300px;
    }

    .splash-head {
        font-size: 200%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }
    
    .events {
        height: 600px;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 100em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
    
    .splash-container {
        height: 662px;
    }
    
    .splash {
        width: 80%;
        height: 400px;
    }
    
    .content-wrapper {
        top: 720px;
    }
    
    .events {
        height: 800px;
    }
}
